@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
